.new-topic-wrapper {
  background-color: #333;
  color: white;
}

.new-topic-container {
  text-align: center;
  padding: 20px;
}

#new-topic-title {
  background-color: rgba(0,0,0,0.8);
  font-weight: 800;
  color: white;
}

#new-topic-message {
  background-color: rgba(0,0,0,0.8);
  color: white;
  resize: none;
}

#author-container {
  float: left;
}

#select-container {
  padding: 0px;
}

#new-topic-type-select {
}

.new-topic-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
